# Xcode
.DS_Store
DerivedData

# Espaços de trabalho e dados do usuário
*.xcworkspace
xcuserdata/
*.xccheckout
*.moved-aside
*.xcuserstate
# Arquivos de módulo gerados pelo compilador
*.swiftdoc
*.swiftmodule
# Arquivos de cache e logs
*.log
*.pif
*.gcno

# Swift Package Manager (SPM)
# A pasta de build do SPM
.build/

# CocoaPods
Pods/

# Carthage
Carthage/Build/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output