<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>Staatliches-Regular.ttf</string>
		<string>Alegreya-Italic.ttf</string>
		<string>Heebo-Bold.ttf</string>
		<string>Heebo-Medium.ttf</string>
		<string>Heebo-Regular.ttf</string>
		<string>Heebo-SemiBold.ttf</string>
	</array>
</dict>
</plist>
